/* Imported font from Google */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400&family=Sora:wght@300&display=swap');

body {
 background-color: #d4d4d4;
 margin: 0 auto;
 padding-top: 90px;
 padding-bottom: 90px;
 width: 100%;
 text-align: center;
}

p {
 font-size: large;
}

img {
 width: 100%;
}

/* All header elements */
header {
 text-align: center;
 font-family: 'Montserrat';
 width: 100%;
}

header h1 {
 font-size: 100px;
 font-weight: 300;
 letter-spacing: 0.25em;
 line-height: 80px;
}

header p {
 padding-bottom: 35px;
}

header img {
 width: 250px;
 height: 250px;
 border-radius: 50%;
 border: 3px solid grey;
 box-shadow: 0px 0px 20px grey;
}

.header-p {
 font-size: 20px;
}

/* Media query properties for header elements */
@media screen and (max-width: 800px) {
 .header-p {
  font-size: 14px;
 }
}

@media screen and (max-width: 500px) {
 .header-p {
  font-size: 11px;
 }
}

@media screen and (max-width: 800px) {
 header h1 {
  font-size: 60px;
 }
}

@media screen and (max-width: 500px) {
 header h1 {
  font-size: 50px;
 }
}

/* Fixed navbar selector */
.navbar {
 display: flex;
 flex-direction: column;
 padding-top: 25px;
 padding-bottom: 10px;
 background-color: black;
 box-shadow: 5px 10px 20px grey;
 position: fixed;
 top: 0; 
 width: 100%;
}

.navbar ul {
 margin: 0 auto;
 padding: 0;
}

.navbar li {
 margin: 0 auto;
 font-family: 'Sora', sans-serif;
 display: inline-block;
 list-style-type: none;
 padding: 5px 40px 5px 40px;
}

/* Link text decoration and hover selector for links */
a:link,
a:visited {
 text-decoration: none;
 color: #d4d4d4;
}

a:hover {
 border-radius: 3px;
 color: white;
 text-align: center;
 text-decoration: underline;
 display: inline-block;
}

/* <hr> line div */
.line {
 display: block;
 margin: 0 auto;
 width: 50%;
 padding-top: 70px;
}

/* Body elements */
.work,
.about,
.contact {
 margin: 0 auto;
 padding-top: 90px;
 display: block;
 text-align: center;
 font-family: 'Montserrat';
 width: 100%;
}

.work h2,
.about h2,
.contact h2 {
 margin: 0 auto;
 font-size: 70px;
 font-family: 'Bebas Neue';
 letter-spacing: 0.10em;
 padding-bottom: 35px;
}

/* Media query for work and about paragraphs */
@media screen and (max-width: 500px) {
 .work p,
 .about p { 
  font-size: 16px;
 }
}

.work img {
 width: 600px;
 border-radius: 10px;
 box-shadow: 0px 0px 20px grey;
}

/* Media query for work images */
@media screen and (max-width: 800px) {
 .work img {
  width: 80vw;
 }
}

.work h3 {
 font-size: xx-large;
}

.work p {
 margin: 0 auto;
 width: 35%;
 padding-bottom: 30px;
}

.about p {
 margin: 0 auto;
 width: 35%;
}

/* Media query for width for paragraph text */
@media screen and (max-width: 800px) {
 .work p,
 .about p {
  width: 70%;
 }
}

.contact div {
 padding: 15px;
}

.contact img {
 margin: 0px 20px;
 height: 100px;
 width: 100px;
 padding: 10px;
 border-radius: 50%;
 box-shadow: 0px 0px 15px grey;
}
