@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400&family=Sora:wght@300&display=swap');

body {
 background-color: #d4d4d4;
 margin: 0 auto;
 margin-top: 150px;
 width: 100%;
 text-align: center;
}

header {
 text-align: center;
 font-family: 'Montserrat';
}

header h1 {
 font-size: 100px;
 font-weight: 300;
 letter-spacing: 0.25em;
 line-height: 80px;
}

header p {
 padding-bottom: 35px;
}

header img {
 width: 250px;
 height: 250px;
 border-radius: 50%;
 border: 3px solid grey;
 box-shadow: 0px 0px 20px grey;
}

.navbar {
 display: flex;
 padding-top: 25px;
 padding-bottom: 10px;
 padding-right: 30px;
 align-items: center;
 background-color: black;
 box-shadow: 5px 10px 20px grey;
 position: fixed;
 top: 0; 
 width: 100%;
}

.navbar ul {
 margin: 0 auto;
}

.navbar li {
 font-family: 'Sora', sans-serif;
 display: inline-block;
 list-style-type: none;
 padding: 5px 40px 5px 40px;
}

a:link,
a:visited {
 text-decoration: none;
 color: #d4d4d4;
}

a:hover {
 border-radius: 3px;
 color: white;
 text-align: center;
 text-decoration: underline;
 display: inline-block;
}

#container {
 width: 80%;
 margin: 0px auto;
}

.container-1 {
 display: flex;
 align-items: center;
 width: 100%;
}

.container-1 div {
 padding: 50px;
}

.box-1 {
 flex: 1;
}

.box-2 {
 flex: 3;
}

.container-2 {
 display: flex;
}

.container-2 div {
 padding: 50px;
}

.box-3 {
 flex: 1;
}

.box-4 {
 flex: 1;
}

.line {
 display: block;
 margin: 0 auto;
 width: 50%;
 padding-top: 70px;
}

.work,
.about,
.contact {
 padding-top: 90px;
 display: block;
 text-align: center;
 font-family: 'Montserrat';
 width: 100%;
}

.work h2 {
 margin: 0 auto;
 font-size: 70px;
 font-family: 'Bebas Neue';
 letter-spacing: 0.10em;
}

.about h2 {
 margin: 0 auto;
 font-size: 70px;
 font-family: 'Bebas Neue';
 letter-spacing: 0.10em;
}

.work img {
 width: 550px;
 border-radius: 10px;
}

.contact div {
 padding: 15px;
}

.contact h2 {
 margin: 0 auto;
 font-size: 70px;
 font-family: 'Bebas Neue';
 letter-spacing: 0.10em;
}

.contact img {
 margin: 0px 20px;
 height: 100px;
 width: 100px;
 padding: 10px;
 border-radius: 50%;
 box-shadow: 0px 0px 15px grey;
}

@media screen and (max-width: 800px) {
 body {
  width: 75%;
 }
}